/*font styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* css default format setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

.bg-light-gray {
    background-color: rgb(241, 240, 240);
}

.section_title h1 {
    text-decoration: underline;
}

/* for cart logo hover effect */
.cart a {
    text-decoration: none;
    list-style: none;
}

.cart a:hover {
    text-decoration: none;
    list-style: none;
}

.bg_cart1 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 45px;
    margin-left: 50px;
    margin-right: 50px;

}

.list-group-item {
    background-color: inherit !important;
}

/* for checkout page */
.bg_checkout_1 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}



/* error in this */
/* for  product layout design
.single_product{
    background-color: rgb(241, 240, 240);
}
.product_img{
    position: absolute;
}
.product_img .new_product{
    position: absolute;
    top: 5%;
    left: 5%;
}
.contact_form{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
} */




/* for services section background gradient */
.feature {
    background-color: rgb(0, 121, 230);
    background-image: linear-gradient(0deg, rgba(o, 121, 230, 1) 0%, rgba(0, 250, 255, 1) 90%);

}

/* for footer section background gradient */

.footer_section {
    border-top: 3px solid #007BFF;
    border-radius: 10px;

}

/* Back to Top Button */
.backtop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    scroll-behavior: smooth;

}

/* product rating */
.checked {
    color: orange;
}

#header_menu {
    font-size: large;
    font-style: bold;
    justify-content: space-between;
}

/* order Confirmation */
.orderConfirmation {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}